#logo{
	background-color: darkgreen;
	height: 30px;
}
#logo_bar{
	margin: 0 20px;
    color: white;
    font-size: larger;
	padding: 3px;
}
#addUser-div{
	display:none;
}
.form-field-log-in{
	 border-radius: 6px;
}

.loginform-in {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D6E5F5;
    border-radius: 3px 3px 3px 3px;
    /* height: 250px; */
    margin: auto;
    padding: 0;
    /* width: 460px; */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loginform-in fieldset {
    border-bottom: 1px solid #EFEFEF;
    margin: 20px auto;
    padding: 0 0 10px;
    width: 87%;
}

.loginbutton {
    background: -moz-linear-gradient(center top , #F1F1F1, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid #A7A7A7;
    border-radius: 3px 3px 3px 3px;
    color: #444444;
    cursor: pointer;
    font-family: "Helvetica Neue";
    font-size: 13px;
    font-weight: normal;
    height: 29px;
    letter-spacing: 1px;
    width: 92px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.loginform-in fieldset label {
    color: #7D7D7D;
    float: left;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 0;

}

.loginform-in fieldset input[type="text"], input[type="password"], fieldset select , input[type="email"]{
    border: 1px solid #CBC7C5;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 33px;
    padding: 1px 1px 1px 3px;
}

.borderless td, .borderless th {
    border: none;
}

.dropdown-alunos{
    max-height: 300px;
    width: 350px;
    padding-left: 30px;
}